<ion-view view-title="{{route.name}}">
    <ion-content class="padding">

        <!--<select>-->
            <!--<option ng-repeat="dest in route.desti" value="{{$index}}"> {{dest}}</option>-->
        <!--</select>-->
        <!--<select>-->
            <!--<option ng-repeat="dest in route.desti" value="{{$index}}"> {{dest}}</option>-->
        <!--</select>-->

        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Start
                </div>
                <select id="route_start">
                    <option ng-repeat="dest in route.desti" value="{{$index}}"> {{dest}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    End
                </div>
                <select id="route_end">
                    <option ng-repeat="dest in route.desti" value="{{$index}}"> {{dest}}</option>
                </select>
            </label>

        </div>


        <button class="button button-block button-balanced" ng-click="findTimes(this)">
            Search
        </button>

        <table>
            <tr>

                <th> {{route.desti[starter]}} </th>
                <th> {{route.desti[ender]}} </th>
            </tr>

            <tr ng-repeat="time in timeFind">
                <td >
                    {{time[destLook[0]]}}
                </td>
                <td >
                    {{time[destLook[1]]}}
                </td>
            </tr>
        </table>
        <h2>{{errCatch}}</h2>

    </ion-content>
</ion-view>
