<ion-view view-title="Cape Breton Transit">
  <ion-content class="padding">
      <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in routes" type="item-text-wrap" href="#/tab/dash/{{$index}}" >
              <h2>{{item.name}}</h2>
              <p>{{item.sub}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>

          </ion-item>
      </ion-list>


          <!--<div ng-repeat="item in routes">-->
            <!--{{item.name}}-->
              <!--<table>-->
            <!--<tr>-->
                <!--<th ng-repeat="place in item.desti">-->
                    <!--{{place}}-->
                <!--</th>-->
            <!--</tr>-->
                  <!--<tr ng-repeat="time in item.times">-->
                      <!--<td ng-repeat="thing in time">{{thing}}</td>-->
                  <!--</tr>-->
          <!--</table>-->
          <!--</div>-->


  </ion-content>
</ion-view>
